html {
  box-sizing: border-box;
  font-size: 1.25 rem;

  background-attachment: 100vh;
}

body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  padding-top: 70px;
}
.greetings-wrapper {
  position: relative;
}
.video-background {
  display: block;
  max-width: 100%;
  object-fit: cover;
  z-index: -2;
}
.greetings-wrapper > .title {
  background: rgb(0, 0, 0, 0.6);
  height: 80px;
  font-size: 4rem;
  padding-top: 10px;
  margin: 0;
  color: var(--color-text);
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 37%;
  z-index: 0;
  border-radius: 30px;
  letter-spacing: 5px;
}
.db-section > .content {
  display: flex;
  justify-content: center;
}

.db-section > .content > .description-cards {
  width: 65%;
}
.db-section > .content > .description-mission {
  text-align: center;
}
.cards-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

.map {
  border-top: 5px solid var(--color-primary-dark);
  border-bottom: 5px solid var(--color-primary-dark);
}
