.db-section {
  background: #141230;
  color: var(--color-text);
}

.db-section.--alternative-color {
  background: var(--color-primary-light);
}

.db-section.-bg-bubble {
  background-image: url(/img/PngItem_34239.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
}
.db-section > .title {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 50px 0px;
  position: relative;
}
@media (max-width: 800px) {
  .db-section > .title {
    font-size: 2.5rem;
  }
}
@media (max-width: 400px) {
  .db-section > .title {
    font-size: 1.75rem;
  }
}
.db-section > .title::before {
  content: "";
  height: 5px;
  width: 100px;
  background: var(--color-secondary);
  position: absolute;
  top: 50%;
  left: 20%;
  border-radius: 4px;
}

.db-section > .title::after {
  content: "";
  height: 5px;
  width: 100px;
  background: var(--color-secondary);
  position: absolute;
  top: 50%;
  right: 20%;
  border-radius: 4px;
}
@media (max-width: 1200px) {
  .db-section > .title::after {
    display: none;
  }
  .db-section > .title::before {
    display: none;
  }
}
