.db-card {
  display: grid;
  justify-items: center;
  max-width: 300px;
  width: 25%;
  text-align: center;
  background: #8f9beb;
  border-radius: 20px;
}
.db-card {
  position: relative;
  z-index: 1;
}
.db-card > .title {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 15px 5px;
}
.db-card > .card-img {
  max-width: 100%;
  border-radius: 20px;
}
.db-card > .text {
  padding: 5px 15px;
}
.db-card > button {
  box-shadow: 10px 0 var(--color-primary) inset;
  border-radius: 30px;
  margin: 15px;
  padding: 20px;
}
.db-card > button:hover {
  box-shadow: none;
  background: var(--color-secondary);
}
