.db-card {
  display: grid;
  justify-items: center;
  text-align: center;
  background: var(--color-primary-light);
  border-radius: 20px;
}
@media (max-width: 800px) {
  .db-card {
    width: 100%;
    max-width: 100%;
    padding-bottom: 20px;
  }
}
.db-card {
  position: relative;
  z-index: 1;
}
.db-card > .title {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 15px 5px;
}
.db-card > .card-img {
  max-width: 100%;
  border-radius: 20px;
}
@media (min-width: 800px) {
  .db-card.db-card > .card-img {
    max-width: var(--db-wrapper-smartphone);
    width: 100%;
  }
}
.db-card > .text {
  padding: 5px 15px;
}
.db-card > button {
  box-shadow: 10px 0 var(--color-primary) inset;
  border-radius: 30px;
  margin: 15px;
  padding: 20px;
}
@media (max-width: 800px) {
  .db-card > button {
    padding: 20px;
    width: 80%;
  }
}

.db-card > button:hover {
  box-shadow: none;
  background: var(--color-secondary);
  cursor: pointer;
}
