.db-header {
  background: var(--color-primary);
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
}
@media (man-width: 550px) {
  .db-header {
    max-width: var(--db-wrapper-smartphone);
  }
}
.db-header > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: var(--db-wrapper);
}

.db-header > .wrapper > .menu {
  color: var(--color-text);
  background: var(--color-primary-dark);
  width: 100px;
  height: var(--db-header-height);
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 1s;
}
.db-header > .wrapper > .menu:hover {
  background: var(--color-secondary);
  cursor: pointer;
}

.db-header > .wrapper > .logo {
  margin: 10px 0px;
}

.db-header > .wrapper > a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.5s;
}
.db-header > .wrapper > a:hover {
  color: var(--color-primary-dark);
  cursor: pointer;
}
.sandwitch-icon {
  display: none;
  font-size: 1.75rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 52%;
  transition: 1s;
}
.sandwitch-icon:hover {
  color: var(--color-secondary);
  background: var(--color-primary-dark);
  cursor: pointer;
}
@media (max-width: 800px) {
  .db-header {
    border-bottom: 5px solid var(--color-secondary);
  }
  .db-header > .wrapper > .menu {
    display: none;
  }
  .db-header > .wrapper > a {
    display: none;
  }
  .sandwitch-icon {
    display: block;
  }
}
