.db-header {
  background: var(--color-primary);
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.db-header > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: var(--db-wrapper);
}

.db-header > .wrapper > .menu {
  color: var(--color-text);
  background: var(--color-primary-dark);
  width: 100px;
  height: var(--db-header-height);
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 1s;
}
.db-header > .wrapper > .menu:hover {
  background: var(--color-secondary);
}

.db-header > .wrapper > .logo {
  margin: 10px 0px;
}

.db-header > .wrapper > a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.5s;
}
.db-header > .wrapper > a:hover {
  color: var(--color-primary-dark);
}
