.db-header {
  background: #3752a6;
  width: 100%;
  position: fixed;
  top: -5px;
  z-index: 4;
  display: flex;
  justify-content: center;
}
.db-header > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.db-header > .wrapper > .menu {
  color: #fff;
  background: #1c2954;
  width: 100px;
  height: 88px;
  border: none;
  font-weight: bold;
  letter-spacing: 2px;
  transition: 1s;
}
.db-header > .wrapper > .menu:hover {
  background: var(--color-secundary);
}

.db-header > .wrapper > .logo {
  margin: 10px 0px;
}

.db-header > .wrapper > a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.5s;
}
.db-header > .wrapper > a:hover {
  color: var(--color-primary-dark);
}
