.db-section > .content-img {
  display: flex;
  justify-content: center;
}
.db-section > .content-img > .content {
  width: 60%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.db-section > .content-img > .content > .elements-content > .intro > .title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 10px auto;
}
.db-section > .content-img > .content > .elements-content > .intro > .text {
  text-align: center;
  margin: 10px auto;
}
.img-fish {
  display: flex;
  justify-content: center;
}
.acara {
  max-width: 70%;
  object-fit: cover;
}
